p{
  font-family:'Times New Roman', Times, serif;
}

hr {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 96%;
    position:fixed;
}

a:link {
    color:blue;
}

a:hover {
    color:darkblue;
}

a:visited {
    color:purple;
}

.green-text{
  color: green;
}

.red-text{
  color: red;
}

.button{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#green-button {
    background-color: green;
}

#red-button {
    background-color: red;
}

#button-text {
    display: inline-block;
}
